In [3]:
import pandas as pd, numpy

## Importing Data

### 1. HK Dataset

In [86]:
df_hk = pd.read_csv('raw_data/china_052020_tweets_csv_hashed 2.csv', low_memory=False)
#low memory is due to conflicting dtypes

In [87]:
df_hk.columns

Index(['tweetid', 'userid', 'user_display_name', 'user_screen_name',
       'user_reported_location', 'user_profile_description',
       'user_profile_url', 'follower_count', 'following_count',
       'account_creation_date', 'account_language', 'tweet_language',
       'tweet_text', 'tweet_time', 'tweet_client_name', 'in_reply_to_userid',
       'in_reply_to_tweetid', 'quoted_tweet_tweetid', 'is_retweet',
       'retweet_userid', 'retweet_tweetid', 'latitude', 'longitude',
       'quote_count', 'reply_count', 'like_count', 'retweet_count', 'hashtags',
       'urls', 'user_mentions'],
      dtype='object')

In [88]:
#select englsih only 
df_hk = df_hk.loc[df['tweet_language'] == 'en']

In [89]:
df_hk[df_hk['tweet_text'].str.contains("Hong Kong")]['tweet_text']

1238      #香港 The jackal invades my show of mountains an...
1422      We appeal to \nthe SAR government to severely ...
1654      Face to a knife-wielding man.\nFrench police c...
2845      香港 #香港 The Hong Kong police punched hard, stri...
2903      #香港  In Hong Kong, what we need to guard again...
                                ...
347330    #香港 Hong Kong Independent Luo Guancong said th...
347876    The riots in Hong Kong have seriously affected...
348080    香港 On April 7, Hong Kong media reported that t...
348282    The Hong Kong police have never given up on us...
348440    Compared with the performance of the oppositio...
Name: tweet_text, Length: 2364, dtype: object

In [92]:
df_hk.count()

tweetid                     32926
userid                      32926
user_display_name           32926
user_screen_name            32926
user_reported_location       3746
user_profile_description    10256
user_profile_url              192
follower_count              32926
following_count             32926
account_creation_date       32926
account_language            32926
tweet_language              32926
tweet_text                  32926
tweet_time                  32926
tweet_client_name           32926
in_reply_to_userid           2048
in_reply_to_tweetid          2043
quoted_tweet_tweetid          604
is_retweet                  32926
retweet_userid               2654
retweet_tweetid             20908
latitude                    32926
longitude                   32926
quote_count                 32926
reply_count                 32926
like_count                  32926
retweet_count               32926
hashtags                    32926
urls                        32926
user_mentions               32926
dtype: int64


further cleaning tasks needed:

* remove RT tags
* remove hashtags containing chinese characters

### 2. Uighuuyr

In [80]:
df_u = pd.read_csv('raw_data/CNHU_0621_tweets_csv_hashed_2020.csv', low_memory=False)
df_u2 = pd.read_csv('raw_data/CNHU_0621_tweets_csv_hashed_2021.csv', low_memory=False)

In [81]:
df_u.columns #just confirm is same format as previous file

Index(['tweetid', 'userid', 'user_display_name', 'user_screen_name',
       'user_reported_location', 'user_profile_description',
       'user_profile_url', 'follower_count', 'following_count',
       'account_creation_date', 'account_language', 'tweet_language',
       'tweet_text', 'tweet_time', 'tweet_client_name', 'in_reply_to_userid',
       'in_reply_to_tweetid', 'quoted_tweet_tweetid', 'is_retweet',
       'retweet_userid', 'retweet_tweetid', 'latitude', 'longitude',
       'quote_count', 'reply_count', 'like_count', 'retweet_count', 'hashtags',
       'urls', 'user_mentions'],
      dtype='object')

In [82]:
#select englsih only 
df_u = df_u.loc[df['tweet_language'] == 'en']
df_u2 = df_u2.loc[df['tweet_language'] == 'en']

In [85]:
df_u2['tweet_text']

6        ##Xinjiang https://t.co/Ii44yjC44J... https://...
16       They were filmed in a series of short videos r...
19       #Xinjiang #Urumqi's battle against COVID-19 ep...
27       How are jailed extremists treated in Xinjiang?...
32       ##XinjiangOnline #Xinjiang-related Issues ##St...
                               ...
15596    RT @PakAmbChina: Visiting #Xinjiang - A land o...
15597    RT @PakAmbChina: Visiting #Xinjiang - A land o...
15611    RT @ChinaDaily: An inseparable part of Chinese...
15622    RT @PakAmbChina: Visiting #Xinjiang - A land o...
15630    RT @ChinaDaily: The growth rate of the Uygur p...
Name: tweet_text, Length: 1924, dtype: object

### Combining all 3

In [95]:
df = pd.concat([df_u, df_u2,df_hk])
df

,tweetid,userid,user_display_name,user_screen_name,user_reported_location,user_profile_description,user_profile_url,follower_count,following_count,account_creation_date,...,retweet_tweetid,latitude,longitude,quote_count,reply_count,like_count,retweet_count,hashtags,urls,user_mentions
6,1275593126342651904,Lqct9ROfqbZYdP1XYeNBwUBRWR5qrkf4amOKa2TzwDI=,Lqct9ROfqbZYdP1XYeNBwUBRWR5qrkf4amOKa2TzwDI=,Lqct9ROfqbZYdP1XYeNBwUBRWR5qrkf4amOKa2TzwDI=,NaN,NaN,NaN,6,12,2020-02-29,...,NaN,absent,absent,0,0,0,0,[],[],[]
16,1329828989783818240,Pm+tWkGLFfrUoei2Q8sLDWRjAdpixyjZSNAFhooSULA=,Pm+tWkGLFfrUoei2Q8sLDWRjAdpixyjZSNAFhooSULA=,Pm+tWkGLFfrUoei2Q8sLDWRjAdpixyjZSNAFhooSULA=,NaN,NaN,NaN,0,1,2020-03-11,...,NaN,absent,absent,0,0,0,0,[],[],[]
19,1278419210499022848,riQlPDIyCgsroEdjna79FECh6wcYNKifLhpnggedXX0=,riQlPDIyCgsroEdjna79FECh6wcYNKifLhpnggedXX0=,riQlPDIyCgsroEdjna79FECh6wcYNKifLhpnggedXX0=,NaN,NaN,NaN,0,2,2020-03-11,...,NaN,absent,absent,0,0,0,0,[],[],[]
27,1276396115760345088,O132PRE3JjbJJJy4LLCRJTXPrYGUk5BhsHRbEgqHjU=,O132PRE3JjbJJJy4LLCRJTXPrYGUk5BhsHRbEgqHjU=,O132PRE3JjbJJJy4LLCRJTXPrYGUk5BhsHRbEgqHjU=,NaN,NaN,NaN,0,2,2020-02-19,...,NaN,absent,absent,0,0,0,0,[],[],[]
32,1246764879995789312,9q8g6hAh5dlzkiZ1hSICKtwXRP2hFN1NfJ9+nfz2M=,9q8g6hAh5dlzkiZ1hSICKtwXRP2hFN1NfJ9+nfz2M=,9q8g6hAh5dlzkiZ1hSICKtwXRP2hFN1NfJ9+nfz2M=,NaN,NaN,NaN,0,3,2019-12-28,...,NaN,absent,absent,0,0,0,0,[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348561,1131115093821804545,qsefiyKn8KGIYFoEeDj6vROLkVXVCNHS4fyszFMwC4=,qsefiyKn8KGIYFoEeDj6vROLkVXVCNHS4fyszFMwC4=,qsefiyKn8KGIYFoEeDj6vROLkVXVCNHS4fyszFMwC4=,NaN,NaN,NaN,127,194,2018-10-08,...,NaN,absent,absent,0,0,0,0,[],[],[]
348565,1119803701994999809,qsefiyKn8KGIYFoEeDj6vROLkVXVCNHS4fyszFMwC4=,qsefiyKn8KGIYFoEeDj6vROLkVXVCNHS4fyszFMwC4=,qsefiyKn8KGIYFoEeDj6vROLkVXVCNHS4fyszFMwC4=,NaN,NaN,NaN,127,194,2018-10-08,...,NaN,absent,absent,0,0,0,0,[],[],[]
348566,1140541738152448001,qsefiyKn8KGIYFoEeDj6vROLkVXVCNHS4fyszFMwC4=,qsefiyKn8KGIYFoEeDj6vROLkVXVCNHS4fyszFMwC4=,qsefiyKn8KGIYFoEeDj6vROLkVXVCNHS4fyszFMwC4=,NaN,NaN,NaN,127,194,2018-10-08,...,NaN,absent,absent,0,0,0,0,[],[],[]
348582,1187176777434701824,Tm04SsxyVjHK3uYARMTJAEsxWRzUOIF1FwI1JpbHlHQ=,Tm04SsxyVjHK3uYARMTJAEsxWRzUOIF1FwI1JpbHlHQ=,Tm04SsxyVjHK3uYARMTJAEsxWRzUOIF1FwI1JpbHlHQ=,NaN,NaN,NaN,1,1,2019-10-24,...,NaN,absent,absent,0,0,0,0,[],[],[]
348588,1182600906413658112,w77a+N2IFkW3hT7++owxWI8Y4KVxhm0mw7hE8bWK+A=,w77a+N2IFkW3hT7++owxWI8Y4KVxhm0mw7hE8bWK+A=,w77a+N2IFkW3hT7++owxWI8Y4KVxhm0mw7hE8bWK+A=,NaN,NaN,NaN,0,17,2019-10-11,...,NaN,absent,absent,0,0,0,0,[],[],[]

In [96]:
df['tweet_text']

6                         天气渐渐凉爽起来. https://t.co/P8ISprRAft
16                                                  我玩得很开心.
19        Saying and doing are two different things. htt...
27                          十里平湖霜满天 https://t.co/6i7WLoWrWD
32          生当作人杰，死亦为鬼雄,至今思项羽，不肯过江东 https://t.co/48PJORafbS
                                ...
348561         Look before you leap. First think, then act.
348565    I was for all intensive purposes addicted to t...
348566    .Live a noble and honest life.Reviving past ti...
348582    her, and she drooped and would have sunk down ...
348588           Whаtever you do, do it well. – Wаlt Disney
Name: tweet_text, Length: 36712, dtype: object

In [ ]:
df.to_csv("")